#index-header {
  @include header-img("/assets/images/bg-home.jpg", 0, 100vh);
  h1 {
    color: $beige;
    font-size: 6rem;
  }
}

#about {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.5) 100%,
      #000000 100%
    ),
    url(/assets/images/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    padding: 10rem;
    font-size: 1.7rem;
    color: white;
  }
}

#products {
  a:hover {
    text-decoration: none;
  }
  .bread {
    @include products-img("/assets/images/product-bread.jpg", 19rem, 19rem);
  }
  .pastries {
    @include products-img("/assets/images/product-pie.jpg", 19rem, 19rem);
  }
  .cakes {
    @include products-img("/assets/images/product-cake.jpg", 19rem, 19rem);
  }
  .desserts {
    @include products-img("/assets/images/product-dessert.jpg", 19rem, 19rem);
  }
  .special {
    @include products-img(
      "/assets/images/product-special.jpg",
      40.5rem,
      40.5rem
    );
  }
  h3 {
    color: white;
    font-size: 2.3rem;
    margin: auto auto 1rem 1rem;
    text-shadow: 4px 4px 5px black;
  }
}

#love-us {
  background-color: $beige;
  padding: 2rem;
  i {
    color: $brown;
    font-size: 3rem;
  }
  [class*="col-"] {
    justify-content: center;
    align-items: center;
    border: 1px solid $brown;
    margin: 1rem auto;
    padding: 2rem;
    max-width: 20rem;
    border-radius: 1.5rem;
    background-color: white;
    font-size: 1.6rem;
  }
}

footer {
  padding-top: 2rem;
  background-color: $greyishBrown;
  color: $beige;
  h4 {
    font-weight: 700;
  }
  i {
    font-size: 3rem;
    padding: 0.5rem;
    color: $beige !important;
  }
  #copyright {
    padding: 1.2rem;
    text-align: center;
    background-color: $lightBlack;
  }
}

@media (max-width: 992px) {
  #index-header h1 {
    font-size: 3rem;
  }
  #about p {
    padding: 3rem;
    font-size: 1.2rem;
    color: white;
  }
  #products {
    .bread,
    .pastries,
    .cakes,
    .special,
    .desserts {
      width: 90%;
      margin: 1rem auto;
    }
  }
}
