#bread-header {
  @include header-img("/assets/images/product-bread.jpg", 0.5, 70vh);
  h1 {
    color: white;
  }
}

.product-container {
  margin: 3rem auto;
  padding: 3rem;
  img {
    width: 19rem;
    height: 19rem;
    object-fit: cover;
  }
  p {
    margin: 1rem auto;
  }
}
